@model DataAccess.Model.TarantuleUser
@{
    ViewBag.Title = "Index";
    Layout = null;
}

@if (Model.Role.Identificator == "moderator")
{
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sklípkani <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("IndexModerator", "TarantulaSpecie")">Encyklopedie sklípkanů</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Chovatelé</li>
            <li><a href="@Url.Action("IndexModerator", "TarantulaOfUser")">Sklípkani chovatelů</a></li>
            <li><a href="@Url.Action("IndexModerator", "TarantulaSell")">Sklípkani na prodej</a></li>           
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Můj chovatel <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("UserIndex", "TarantulaOfUser")">Moji sklípkani</a></li>
            <li><a href="@Url.Action("UserIndex", "TarantulaSell")">Můj prodej</a></li>
            <li><a href="@Url.Action("Edit", "TarantulaUsers", new { id = Model.Id })">Můj účet</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Moderátor <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("Index", "TarantulaSpecie")">Správa druhů sklípkanů</a></li>
            <li><a href="@Url.Action("Index", "TarantulaOfUser")">Správa sklípkanů uživatelů</a></li>
            <li><a href="@Url.Action("Index", "TarantulaSell")">Správa prodeje</a></li>
        </ul>
    </li>
    <li><a href="@Url.Action("Index", "AboutUs")">O nás</a></li>
    <li><a href="@Url.Action("Index", "Contact")">Kontakt</a></li>
}
else if (Model.Role.Identificator == "chovatel")
{
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sklípkani <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("Index", "TarantulaSpecie")">Encyklopedie sklípkanů</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Chovatelé</li>
            <li><a href="@Url.Action("Index", "TarantulaOfUser")">Sklípkani chovatelů</a></li>
            <li><a href="@Url.Action("Index", "TarantulaSell")">Sklípkani na prodej</a></li>           
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Můj chovatel <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("UserIndex", "TarantulaOfUser")">Moji sklípkani</a></li>
            <li><a href="@Url.Action("UserIndex", "TarantulaSell")">Můj prodej</a></li>
            <li><a href="@Url.Action("Edit", "TarantulaUsers", new { id = Model.Id })">Můj účet</a></li>
        </ul>
    </li>
    <li><a href="@Url.Action("Index", "AboutUs")">O nás</a></li>
    <li><a href="@Url.Action("Index", "Contact")">Kontakt</a></li>




}
else if (Model.Role.Identificator == "admin")
{
    <li><a href="@Url.Action("IndexAdmin", "Home")">Home</a></li>
    <li><a href="@Url.Action("Index", "TarantulaSpecie")">Správa druhů sklípkanů</a></li>
    <li><a href="@Url.Action("Index", "TarantulaOfUser")">Správa sklípkanů uživatelů</a></li>
    <li><a href="@Url.Action("Index", "TarantulaSell")">Správa prodeje sklípkanů</a></li>
    <li><a href="@Url.Action("Index", "TarantulaUsers")">Správa uživatelů</a></li>

}


