<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Tarantule</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/MicrosoftAjax.js"></script>
    <script src="~/Scripts/MicrosoftMvcAjax.js"></script>

    <link href="@Url.Content("~/Content/bootstrap.minHome.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/navabr.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <div class="container">

        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">                
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li ><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sklípkani <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "TarantulaSpecie")">Encyklopedie sklípkanů</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Chovatelé</li>
                                <li><a href="@Url.Action("Index", "TarantulaOfUser")">Sklípkani chovatelů</a></li>
                                <li><a href="@Url.Action("Index", "TarantulaSell")">Sklípkani na prodej</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("Index", "AboutUs")">O nás</a></li>
                        <li><a href="@Url.Action("Index", "Contact")">Kontakt</a></li>                       
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@Url.Action("Index", "Registration")">Registrace<span class="sr-only">(current)</span></a></li>
                        <li><a href="@Url.Action("Index", "Login", new {area = "Logged"})">Přihlášení</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>

        <!-- Main component for a primary marketing message or call to action -->

        <div id="dynamicContent">
            @RenderBody()
        </div>
    
        <div>
            <footer>
                <p>&copy; @DateTime.Now.Year - Milovníci Sklípkanů</p>
            </footer>
        </div> 

    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/docs.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
</body>
</html>
