@model DataAccess.Model.TarantuleUser
@{
    ViewBag.Title = "Detail";
}

<div class="page-header">
    <h2 class="text-center" style="color:#333;font-family: Courier New, monospace;font-size: 32px;">Detail uživatele @Model.Name @Model.Surname</h2>
</div>

<p>
    Jméno: @Model.Name
</p>
<p>
    Příjmení: @Model.Surname
</p>

<p>
    Email: @Model.Email
</p>

<p>
    Telefon: @Model.Telefon
</p>

<p>
    Uživatelská Práva: @Model.Role.RoleDescription
</p>

<p>
    Login: @Model.Login
</p>



